@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: "Inter", ui-serif;
}

:root {
    background-color: var(--color-slate-900);
    color: var(--color-white);
}